# Python cache  
__pycache__/  
*.py[cod]  

# Virtual environment  
.venv/  
venv/  
env/  

# Jupyter Notebook checkpoints  
.ipynb_checkpoints  

# Streamlit specific files  
.streamlit/secrets.toml  # if you have sensitive information in this file  

# IDE specific files (uncomment if applicable)  
# .idea/  # PyCharm  
# .vscode/  # Visual Studio Code  

# System files  
.DS_Store  
Thumbs.db  

# Log and other files  
*.log  
*.pyc